span.logo {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: bold;
}

span.logo>span.puresol {
	color: #408020;
}

span.logo>span.technologies {
	color: #804020;
}

span.credo {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 9pt;
line-height: 1.42857;
/*	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: bold;*/
	color: gray;
}
